@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    color:white;
}

body {
   
   background-image: url(/Images/web_bg.jpg);
    background-size: cover;
}
header {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

/* imagen moneda aqui */
.imagen_moneda{
    width: 85px;
    height: 85px;
}


.botonswitch{
    background: transparent;
    background-image: url(/Images/switch.png);
    background-size: cover;
    background-position: center;
    margin : 20px;
    width: 64px; 
    height:64px; 

}

.contenedormonedas{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Estilo a nivel de clase*/

.contenido{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    width: 40%;
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(37,235,19,0.8);
}

.entrada{
    width: 100%;
    height: 50px;
    border:none; 
    text-align: right;
    color: black; 
    font-size: 20px;
    background-color: gainsboro;

}

.resultado{
    width: 100%; 
    height: 50px;
    border:none; 
    text-align: right;
    color: black; 
    font-size: 20px;
    background-color: #98ecff;
}

.btn_convertir{
    width: 100%;
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403; 
    border-radius: 6px;
    border: 1px solid #74b807; 
    display: inline-block  ;
    cursor: pointer;
    color: white; 
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none   ;
    text-shadow: 0px 1px 0px #528009;
}

.btn_convertir:hover{
    background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    background-color: #77a809;
}

.btn_convertir:active{
    position: relative;
    top: 20px;
}

footer{
    background-color: rgb(1,123,23);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
font-family: 'Roboto', sans-serif;
font-weight: bolder;
    
}